.techfont{
  font-family: 'Russo One', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}


.postdate{
  text-align: center;
}

.posttitle{
  font-family: 'Russo One', sans-serif;
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-family: 'Montserrat';
  font-size: 1.5em;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.btn-comment{
  position: absolute;
  right: 0px;
}

.bigbrand{
  font-size: 1.5em;
}


/*COLOR CHANGER*/
/*Credit and Source: http://codepen.io/thapliyalshivam/pen/dvgXVO*/
.loader{
  filter:hue-rotate(0deg);
  color: linear-gradient(45deg,#0f8,#08f);
  animation:hue 5000ms infinite linear;
}

@keyframes spinify {
  0% {
    transform: translate(0px,0px);

  }
  33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;

  }
   66% {
    transform:translate(0px,-16px);
  }

   88% {
    transform:translate(0px,4px);

  }
  100% {
    transform:translate(0px,0px);
  }
}
@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}


/* DogAnimation */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #EFEFEF;
	color: #2C405E;
	margin: 0;
}

header {
	background-image: url('https://images.unsplash.com/photo-1516222338250-863216ce01ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2467&q=80');
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 63px);
	position: relative;
}

header * {
	z-index: 1;
}

header::after {
	content: '';
	background-color: #000;
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

header h1 {
	font-size: 4em;
	text-align: center;
	width: 60%;
}

nav {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 15px;
}

nav p {
	font-weight: bold;
	margin: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.burger {
	border: 0;
	cursor: pointer;
	display: none;
	font-size: 22px;
	position: relative;
	padding: 0;
	outline: none;
	height: 30px;
	width: 30px;
}

.burger:active {
	color: #0594EC;
	outline: none;
}

.burger .bar {
	background-color: #0594EC;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	height: 3px;
	width: 20px;
	transition: transform 0.2s ease;
}

.burger .bar:first-of-type {
	top: 40%;
}

.burger .bar:last-of-type {
	top: 60%;
}

ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li {
	margin: 0 10px;
}

ul li a {
	position: relative;
	text-decoration: none;
}

ul li a::after {
	content: '';
	background-color: #2C405E;
	position: absolute;
	bottom: -18px;
	left: 0;
	opacity: 0;
	height: 2px;
	width: 100%;
	transition: transform 0.2s ease;
}

ul li a:hover::after {
	opacity: 1;
	transform: translateY(-15px);
}

@media screen and (max-width: 480px) {
	header h1 {
		font-size: 2em;
	}

	.burger {
		display: block;
	}

	.burger.show-x .bar:first-of-type {
		transform: translate(-50%, 50%) rotate(225deg);
	}

	.burger.show-x .bar:last-of-type {
		transform: translate(-50%, -150%) rotate(-225deg);
	}

	ul {
		background-color: #fff;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
		flex-direction: column;
		text-align: center;
		position: fixed;
		top: 80px;
		left: 10%;
		transform: translateX(120%);
		width: 80%;
		transition: transform 0.3s ease-in;
		z-index: 100;
	}

	ul.show {
		transform: translateX(0);
	}

	ul li {
		margin: 15px;
	}
}
/* CubCoffe */


section{
  position: fixed;
  top: 20%;
  left: 35%;
}

.coffee {
  position: relative;
}

.handle {
  background-image: linear-gradient( 180deg, rgb(200,200,200) 5%, rgb(255,255,255) 50%, rgb(200,200,200) 95%);
  box-shadow: 5px 0px 1px 0px rgba(200, 200, 200, 0.8);
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
  width: 127px;
  height: 50px;
  z-index: 2;
  border-radius: 50px;
}

.coffee-cup {
  border-radius: 50%;
  background-image: radial-gradient( 50% 50%, rgb(14,7,0) 65%, rgb(185,144,18) 75%, rgb(129,129,129) 75%, rgb(255,255,255) 95%, rgb(161,161,161) 100%);
  box-shadow: 10px 35px 30px 7px rgba(49, 49, 49, 0.1);
  position: relative;
  width: 462px;
  height: 462px;
  z-index: 3;
  margin-top: 100px;
}

.brew {
  border-radius: 50%;
  background-image: linear-gradient( 140deg, rgb(0,0,0) 0%, rgb(52,26,0) 100%);
  box-shadow: 5px 5px 0px 0px rgba(252, 232, 185, 0.55);
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  width: 316px;
  height: 316px;
  z-index: 4;
}

h1{
  color: #fff;
  font-size:40px;
  text-decoration: none;
  text-shadow: 2px 2px 3px #8c6042;
	}
a,p{
  font-size: 0.8em;
  text-decoration: none;
}
